<html lang="en">
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
    <main class="well">
      <div class="list-group">
        <div class="list-group-item">
          <h4 class="list-group-item-heading">Canvas Domain</h4>
          <p class="list-group-item-text"><%= domain %></p>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">Client Id</h4>
          <p class="list-group-item-text"><%= clientId %></p>
        </div>
      </div>
    </main>
  </body>
</html>
