<html lang="en">
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
    <main class="well">
      <div class="row text-center alert alert-success">
        <div class="col align-self-center">
          <span class="glyphicon glyphicon glyphicon-ok-sign" style="font-size: 10em; padding: 0.1em"></span>
        </div>
        <div class="col align-self-center">
          <span><%= token %></span>
        </div>
      </div>
    </main>
  </body>
</html>
