<html lang="en">
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
    <main class="well">
      <h2>Enter your user credentials to get an access token:</h2>
      <% include ../partials/token_form %>
    </main>
  </body>
</html>
