<html lang="en">
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
    <main class="well">
      <div class="row text-center alert alert-danger">
        <div class="col align-self-center">
          <span class="glyphicon glyphicon glyphicon-remove-sign" style="font-size: 10em; padding: 0.1em"></span>
        </div>
        <div class="col align-self-center">
          <span>Oops! That didn't work. Maybe try again...</span>
        </div>
      </div>
      <% include ../partials/create_user_form %>
    </main>
  </body>
</html>
