<html lang="en">
  <% include ../partials/head %>
  <body>
    <% include ../partials/header %>
    <main class="well">
      <h2>Create a user with course enrollments:</h2>
      <% include ../partials/create_user_form %>
    </main>
  </body>
</html>
