<form action="/tokens">
  <div class="form-group">
    <label for="getTokenLoginId">Email address</label>
    <input id="getTokenLoginId" type="text" class="form-control" name="loginId" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="getTokenPassword">Password</label>
    <input id="getTokenPassword" type="password" class="form-control" name="password" placeholder="Password">  
  </div>
  <div class="form-group text-center">
    <input type="submit" class="btn btn-primary" style="width: 100%" value="Submit">  
  </div>
</form>
